/* bg img */
body {
  color: #fff;
  margin: 0;
  padding-right: 0;
  background-image: url("D:/Github_repo/Challenge/assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

/* navigation bar */
.navbar {
  position: relative;
  list-style: none;
  height: 100px;
  margin-top: 44px;
  margin-bottom: 50px;
}

.navbar-logo {
  display: inline-block;
  margin: auto 0;
  width: 30%;
  height: 100%;
}

.logo {
  padding-top: 20px;
}

.navbar-line {
  position: absolute;
  z-index: 1;
  width: 35%;
  top: 45px;
  left: 150px;
  height: 0;
  border-top: 2px;
  border-color: rgba(255, 255, 255, 0.1);
  border-style: solid none none none;
}

.navbar-links {
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15px);
  display: flex;
  /* flex-direction: row-reverse; */
  gap: 3rem;
  justify-content: center;
  align-items: center;
  float: right;
  height: 100%;
  width: 59%;
}

.link {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #A3A1A8;
  padding-bottom: 35px;
}

.link:hover {
  border-bottom: 3px solid;
  color: white;
}
.close {
  visibility: collapse;
  border: none;
  background: rgba(255,255,255,0);
  cursor: pointer;
}

.hamburger {
  visibility: collapse;
  border: none;
  background: rgba(255,255,255,0);
}
/* mainbody */
/* meet ur crew */
.meet-crew {
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  margin-left: 150px;
  margin-bottom: 50px;
}

.grey-num {
  color: #A3A1A8;
}

/* arranging the mainbody of crew page */
.mainbody {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "left right";
  height: 29.3rem;
}

.mainbody-left {
  grid-area: left;
  padding-left: 150px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 20% 40% 15%;
  grid-template-areas: "rank"
    "name"
    "about"
    "navbar";
}

.mainbody-right {
  grid-area: right;
  position: relative;
}

.crew-img {
  height: 36rem;
  position: absolute;
  margin-bottom: 1px;
  bottom: 0px;
  left: 100px;
}

.mainbody-left-rank {
  grid-area: rank;
  color: #A3A1A8;
  font-size: 2.3rem;
  padding-top: 60px;
  font-family: 'Cormorant Garamond', serif;
}

.mainbody-left-name {
  grid-area: name;
  font-size: 3rem;
  font-family: 'Cormorant Garamond', serif;
}

.mainbody-left-about {
  grid-area: about;
  width: 60%;
  line-height: 1.5;
  color: #A8C0CE;
}

.mainbody-left-navbar {
  grid-area: navbar;
  display: flex;
  gap: 1.5rem;
}

.nav-circle {
  background-color: #A3A1A8;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.nav-circle-active {
  background-color: white;
}

/* making site responsive */
@media (max-width:1230px) {
  body {
    background-image: url("D:/Github_repo/Challenge/assets/crew/background-crew-tablet.jpg");
  }

  .navbar {
    margin-bottom: 50px;
  }

  .navbar-line {
    visibility: collapse;
  }

  .navbar-links {
    /* padding-left: 40px; */
    gap: 2rem;
    width: 70%;
  }

  .mainbody {
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    grid-template-areas: "left""right";
    height: 57rem;
  }

  .crew-img {
    left: 25%;
    top: 10%;
    z-index: -1;
  }

  .mainbody-left>* {
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  .mainbody-left {
    padding-left: 0;
  }

  .mainbody-left-rank {
    padding-top: 40px;
  }

  .mainbody-left-about {
    font-size: 1.3rem;
  }

  .meet-crew {
    margin-left: 50px;
  }
}

@media (max-width:650px) {
  body {
    background-image: url("D:/Github_repo/Challenge/assets/crew/background-crew-mobile.jpg");
  }
  .link:hover {
    border-bottom: none;
    color: white;
  }

  .navbar-links {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
  }

  /* .navbar-logo{
    width:60%;
  } */
  .navbar {
    position: static;
  }

  .navbar-links {
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(15px);
    flex-direction: column;
    position: absolute;
    z-index: 1;
    /* margin-bottom: 100px; */
    /* height: 65rem; */
    visibility: collapse;
    left: 150px;
    bottom: 0px;
    top: 0;
    padding-bottom: 450px;
    align-items: flex-start;
    padding-left: 20px;
    gap: 3rem;
    /* height: 100rem; */
    /* visibility: collapse; */
  }

  .close {
    /* align-items: flex-end; */
    visibility: collapse;
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 100px;
  }

  .hamburger {
    visibility: visible;
    position: absolute;
    right:30px;
    top:70px;
    cursor: pointer;
    z-index: 1;
  }
  .mainbody {
    grid-template-areas: "right""left";
    height: 80rem;
  }

  .mainbody-right {
    /* padding-left: 70px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .crew-img {
    align-self: center;
    position: static;
    margin: auto;
    height: 30rem;
    margin-bottom: 0;
  }

  .mainbody-left {
    border-top: 2px solid;
    border-color: rgba(255, 255, 255, 0.1);
    grid-template-rows: 15% 25% 20% 40%;
    grid-template-areas: "navbar"
      "rank"
      "name"
      "about";
  }
  .mainbody-left-rank{
    font-size: 1.9rem;
  }
  .mainbody-left-name{
    font-size: 3rem;
  }
  .mainbody-left-about{
    width: 80%;
  }
  .nav-circle {
    width: 20px;
    height: 20px;
  }
}
