/* bg img */
body {
  color: #fff;
  margin: 0;
  padding-right: 0;
  background-image: url("../assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

/* navigation bar */
.navbar {
  position: relative;
  list-style: none;
  height: 100px;
  margin-top: 44px;
  margin-bottom: 50px;
}

.navbar-logo {
  display: inline-block;
  margin: auto 0;
  width: 30%;
  height: 100%;
}

.logo {
  padding-top: 20px;
}

.navbar-line {
  position: absolute;
  z-index: 1;
  width: 35%;
  top: 45px;
  left: 150px;
  height: 0;
  border-top: 2px;
  border-color: rgba(255, 255, 255, 0.1);
  border-style: solid none none none;
}

.navbar-links {
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15px);
  display: flex;
  /* flex-direction: row-reverse; */
  gap: 3rem;
  justify-content: center;
  align-items: center;
  float: right;
  height: 100%;
  width: 59%;
}

.link {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #A3A1A8;
  padding-bottom: 35px;
}

.link:hover {
  border-bottom: 3px solid;
  color: white;
}

.close {
  visibility: collapse;
  border: none;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.hamburger {
  visibility: collapse;
  border: none;
  background: rgba(255, 255, 255, 0);
}

/* mainbody */
/* space launch101 */
.space-launch {
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  margin-left: 150px;
  margin-bottom: 50px;
}

.grey-num {
  color: #A3A1A8;
}

/* arranging mainbody of technology page */
.mainbody {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100%;
  grid-template-areas: "left right";
  height: 29rem;
}

.mainbody-left {
  padding-top: 100px;
  grid-area: left;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 35% 65%;
  grid-template-areas: "slide content";
}

.mainbody-left-content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.content-terminology {
  font-size: 1.3rem;
  font-family: 'Oswald', sans-serif;
  color: #A3A1A8;
}

.content-name {
  font-size: 4rem;
  font-family: 'Cormorant Garamond', serif;
}

.content-info {
  font-size: 1.1rem;
  width: 63%;
  line-height: 1.5;
  color: #A8C0CE;
}

.slide-num {
  padding-left: 150px;
  grid-area: slide;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

.slide-link {
  text-decoration: none;
  color: white;
  width: 70px;
}

.slide-num-circle {
  border-radius: 50%;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.3);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.circle-active {
  background-color: white;
  color: black;
  border: none;
}

.mainbody-right {
  grid-area: right;
  text-align: right;
}

.technology-img {
  height: 100%;
}

@media (max-width:1230px) {
  body {
    background-image: url("../assets/technology/background-technology-tablet.jpg");
  }

  .navbar {
    margin-bottom: 50px;
  }

  .navbar-line {
    visibility: collapse;
  }

  .navbar-links {
    /* padding-left: 40px; */
    gap: 2rem;
    width: 70%;
  }

  .space-launch {
    margin-left: 50px;
  }

  .mainbody {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "right""left";
    width: 100%;
    height: 55rem;
  }

  .mainbody-right {
    text-align: center;
  }

  .mainbody-left {
    padding-top: 0px;
    display: grid;
    grid-template-rows: 35% 65%;
    grid-template-columns: 100%;
    grid-template-areas: "slide""content";
    align-items: center;
    justify-content: center;
  }

  .slide-num {
    flex-direction: row;
    padding-left: 0;
    justify-content: center;
  }

  .mainbody-left-content {
    text-align: center;
    align-items: center;
  }
}

@media (max-width:650px) {
  body {
    background-image: url("../assets/technology/background-technology-mobile.jpg");
  }

  .link:hover {
    border-bottom: none;
    color: white;
  }

  .navbar-links {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
  }

  /* .navbar-logo{
    width:60%;
  } */
  .navbar {
    position: static;
  }

  .navbar-links {
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(15px);
    flex-direction: column;
    position: absolute;

    /* margin-bottom: 100px; */
    /* height: 65rem; */
    visibility: collapse;
    left: 150px;
    bottom: 0px;
    top: 0;
    padding-bottom: 450px;
    align-items: flex-start;
    padding-left: 20px;
    gap: 3rem;
    /* height: 100rem; */
    /* visibility: collapse; */
  }

  .close {
    /* align-items: flex-end; */
    visibility: collapse;
    position: absolute;
    right: 20px;
    top: 100px;
  }

  .hamburger {
    visibility: visible;
    position: absolute;
    right: 30px;
    top: 70px;
    cursor: pointer;
    z-index: 1;
  }
  .mainbody {
    height: 70rem;
    padding-left: 10px;
  }

  .space-launch {
    text-align: center;
  }

  .content-name {
    font-size: 2.5rem;
  }

  .content-info {
    font-size: 1.4rem;
    width: 80%;
  }

  .technology-img {
    width: 100%;
  }
}
